@page "/clients/form/{GuidString}"
@inject NavigationManager Navigation

<PageTitle>Клиент</PageTitle>
<h2>Клиент</h2>

@if (Client == null)
{
    <div>Загрузка...</div>
    return;
}

<div>
    <button onclick="@SaveAsync" class="btn btn-success">Сохранить</button>@(" ")

    @if(Client.Guid != Guid.Empty)
    {
        <button onclick="@DeleteAsync" class="btn btn-danger">Удалить</button>@(" ")
        if(Client.Condition == 1)
        {
            <button onclick="@ChangeConditionAsync" class="btn btn-warning">В архив</button>
        }
        else
        {
            <button onclick="@ChangeConditionAsync" class="btn btn-primary">В работу</button>
        }
    }
</div>
<br />
<div>
    <table>
        <tbody>
            <tr>
                <td>Наименование</td>
                <td><input class="form-control" value="@Client.Name" onchange="@((ChangeEventArgs args) => Client.Name = (string)args.Value)" /></td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td><input class="form-control" value="@Client.Address" onchange="@((ChangeEventArgs args) => Client.Address = (string)args.Value)" /></td>
            </tr>
        </tbody>
    </table>
</div>